// video exercise page

.l-exercise-video {
	padding-top: 2.5em;

	.l-roto-sub-nav {
		padding: 1em 0;
	}
	
	.video-pill {
		padding: 1em 1.75em;
	}

	.l-roto-sub-nav li {
		margin-right: 1.25em;
	}

	.video-bg {
		background: #000;
		width: 750px;
		height: 422px;
	}
}
